* {
  border: 2px solid green;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Serif', serif;
  height: 100vh;
}

/* fonts
font-family: 'Cedarville Cursive', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif; 
*/

header {
  display: flex;
  justify-content: space-evenly;
  height: 6vh;
  font-family: 'Manrope', sans-serif;
}

nav {
  display: flex;
  justify-content: flex-start;
}

main {
  display: flex;
  justify-content: center;
  height: 65vh;
}

.customer-container {
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 30vw;

}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

#username-input,
#password-input {
  height: 25px;
  width: 180px;
}

.label {
  width: 90px;
}

.login-btn {
  height: 30px;
  width: 90px;
}

.login-error-msg {
  color: red;
  width: 200px;
}

#login-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
}

.rooms-container {
  display: flex;
  width: 80vw;
}

.rooms-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  overflow-y: auto;
}

h2 {
  font-size: 1rem;
}

.upcoming-bookings,
.past-bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-card {
  display: flex;
  justify-content: center;
  height: 110px;
  width: 340px;
  margin: 10px;
  padding: 20px;
  position: relative;
}

.room-icon-img {
  display: flex;
  height: 110px;
  width: 180px;
  margin-right: 10px;
  border-radius: 6px;
}

.room-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.staff-container {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.hidden {
  display: none;
}

.logo {
  font-style: italic;
  font-weight: 700;
}

.rooms-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  overflow-y: auto;
  margin: 10px;
  padding: 50px;
}

.room-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 650px;
  margin: 15px;
}

.room-info {
  display: flex;
  justify-content: center;
  width: 200px;
  flex-direction: column;
}

.room-img {
  height: 200px;
  width: 400px;
}

.reservation-btn {
  height: 50px;
  width: 100px;
}

/* MODAL */
.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  width: 900px;
  max-width: 1000px;
  max-height: 100vh;
  border-radius: 25px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  /* -webkit-appearance: button; */
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/* FLATPICKR */
.flatpickr-wrapper {
  display: flex;
  justify-content: center;
}

.flatpickr {
  display: flex;
  justify-content: center;
  height: 40px;
  gap: 5px;
}

.fa-regular.fa-calendar {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  font-size: 28px;
  color: #22577A;
  cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
  display: flex;
  justify-content: center;
  font-size: 26px;
  padding-top: 4px;
  cursor: pointer;
}

.fas.fa-times {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 2px;
  color: red;
  cursor: pointer;
}

input {
  font-size: 16px;
}

.logo {
  height: 100px;
  width: 200px;
}

.selected-date-rooms {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 750px;
  overflow-y: auto;
}

.available-room-card {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 10px 0px 10px;
}

.available-room-info {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: flex-start;
}

.book-room-btn {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #00449e;
  color: #fff;
}

.book-room-btn:focus, .book-room-btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.no-available-rooms {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  color: red;
}

.no-selected-date {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  color: red;
}

/* DATE OVERLAY */
.date-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
}